.festivals{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width:600px;    
}
.status{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.status ul{
    display: flex;
}
.status li:first-child{
    padding-right:1em;
}
.status button{
    font-weight: bold;
}

.total{
    padding:1em 0;
    font-size:1.2em;

}
.total span{
    color: red;
    vertical-align: top;
    font-weight: bold;
}
.bar{
    border-bottom:2px solid #333;
}

.bar h1{
    font-weight: 500;
    padding-bottom:0.5em;
}

.pageNum{
    display: flex;
    justify-content: center;
}
