.list {
    position: relative;
    width: 32%;
    height: 11rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1em;
    box-shadow: 0 0 7px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.list::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.list:nth-child(1) {
    width: 100%;
    margin-bottom: 1em;
    height: 20rem;
}

.list:nth-child(1) .fstvname {
    font-size: 2rem;
}

.list:nth-child(1) .date {
    font-size: 2em;
}

.list:hover .fstvname {
    border-bottom: 2px solid #fff;
    padding-bottom: 0.8rem;
}

.fstvname {
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.3rem;
    position: relative;
    z-index: 999;
}

.date {
    position: relative;
    z-index: 999;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tel {
    margin-bottom: 0.6rem;
    position: relative;
    z-index: 999;
}

@media (max-width:979px){
    .list{
        width:48%;
    }
}
