.festivalList{
    width: 600px;
}

.festivals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    
}

.festivals > p > span{
    display: none;
}
.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status ul {
    display: flex;
}

.status li button {
    font-weight: 500;
    font-size: 1em;
    padding-right: 0.8em;
    border-right: 1px solid #eee;
    margin-right: 0.8em;
}

.status li:last-child button {
    border: 0;
    padding: 0;
    margin: 0;
}

.total {
    padding: 0.6em 0;
    font-size: 1.2em;

}

.total span {
    color: #00326d;
    vertical-align: top;
    font-weight: bold;
}

.bar {
    border-bottom: 2px solid #333;
}

.bar h1 {
    font-weight: 500;
    font-size: 2.3em;
    padding-bottom: 0.5em;
}

.pageNum {
    display: flex;
    justify-content: center;
}