.list {
    position: relative;
    width: 31.4%;
    height: 11rem;
    color: #fff;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.list a {
    color:#fff
}
.list::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.fstvname {
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.2em;
    position: relative;
    z-index: 999;
    word-break: keep-all;
}

.date {
    position: relative;
    z-index: 999;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0.5em 0;
}

.ing,
.end,
.onSchedule {
    background: #f65e57;
    color: #fff;
    padding: 4px 8px;
    border-radius: 1em;
    font-size: 0.8rem;
    position: relative;
    z-index: 9;
    margin-top:0.5em;
}

.end {
    background: #999;
}

.onSchedule {
    background: skyblue;
}


@media (max-width:979px){
    .list{width:48%}
}