.item {
    width: 100%;
    border-top: 1px solid #c6c6c6;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.item:hover{
    background: #f6f6f6;
    cursor: pointer;
}

.link:last-child li{
    border-bottom:1px solid #c6c6c6
}
.item img{
    width: 100%;
    height:100%;
}

.imgBox{
    height:100px;
    overflow: hidden;
    width:25%
}

.festivalInfo {
    width:73%;
    padding-right:2em;
}

.festivalInfo h2{
    font-size:1.3em;
    padding-bottom:0.4em;
    font-weight: 500;
    color: #333;
}

.festivalInfo p{
    color:#666;
    font-size:0.8em;
    padding:0.3em 0;
}

.festivalInfo button{
    position: absolute;
    top:10%;
    right:3%;
    font-size: 1em;
    cursor: pointer;
}

