.header{
    height:90px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 0px rgb(41 42 42 / 15%);
    margin-bottom:40px;
}
.row{
    width:980px;
    margin:0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-width: 160px;
}