.container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left:0;
    min-height: 400px;
}

.spinner{
    text-align: center;
    position: relative;
    z-index: 2;
}

.spinner div{
    margin: 0 auto;
    padding-top:1em;
}