.section{
    width:980px;
    margin:0 auto;
    padding: 20px;
}


.readcount{
    text-align: left;
}
.title{
    text-align: center;
}

.imgBox{
    text-align: center;
}


.section h2{
    padding-bottom:0.5em;
    border-bottom: 2px solid #333;
}


